<head>
  <link rel="stylesheet" href="../../public/css/main.css" />
</head>
<p class="red">Hey <%= username %>,</p>
<p>
  We received a request to verify your <%= appName %> email. Enter the following
  email verify code:
</p>

<h1><%= code %></h1>
